/* Write your CSS here */
* {
  border: 0px;
  margin: 0px;
}
.bg-container {
  background-color: #ffd569;
  height: 100vh;
  background-size: cover;
  padding: 40px;
}
.card {
  background-color: #ffffff;
  height: 80vh;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.heading {
  color: #000000;
  margin: 100px;
}
.count {
  color: #ffd569;
}
.image {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}
.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  height: 50px;
  width: 150px;
}
.fruits {
  margin: 20px;
  margin-right: 20px;
}
